[2015-04-07 20:32] ocefpaf opened #10 "Make pysgrid a "plugin" for iris/xray Software"
Hi Andrew,

I have been following the development of pysgrid closely and I am interested in helping out.
I am specially interested into making pysgrid behave like a plugin module for Software like iris and xray.

PS: Also, I noticed that you are the sole commiter and merger of the repository, are you willing to try
a code review based approach for the PRs?

Best,

-Filipe

[2015-04-09 12:53] ayan-usgs opened #13 "Identify cell centers and nodes in an SGRID"
@rsignell-usgs,

Do you happen to know of a way to reliably identify the grid cell centers and nodes in an SGRID? I'm currently using the long_name attribute, but I would prefer not to rely on an optional field.

[2015-04-10 13:19] ayan-usgs opened #16 "Pysgrid should be be able to flexible enough to handle ROMS, Deltares, and WRF output"
https://publicwiki.deltares.nl/display/NETCDF/Deltares+proposal+for+Staggered+Grid+data+model+(SGRID) provides examples for ROMS, Deltares, and WRF model output. The pysgrid package should be flexiable and "smart" enough to create an SGrid object from any of the three model outputs.

[2015-04-10 13:56] ayan-usgs opened #17 "SGRID-compliant Delft3D example"
I have been primarily using ROMS output for development so far and the documentation https://publicwiki.deltares.nl/display/NETCDF/Deltares+proposal+for+Staggered+Grid+data+model+(SGRID) for Delft3D and WRF output. Is there an SGRID compliant Delft3D output that can be used for development purposes? I would like to make sure pysgrid works with such a dataset.

[2015-04-10 13:57] ayan-usgs opened #18 "SGRID compliant WRF model output"
I have been primarily using ROMS output for development so far and the documentation https://publicwiki.deltares.nl/display/NETCDF/Deltares+proposal+for+Staggered+Grid+data+model+(SGRID) for Delft3D and WRF output. Is there an SGRID compliant WRF output that can be used for development purposes? I would like to make sure pysgrid works with such a dataset.

A request for Delft3D data is made in iss

[2015-04-10 13:58] ayan-usgs commented on #17
@hrajagers or @rsignell-usgs,

Do either of you have thoughts on where we can get our hands on such a dataset?

Thanks!

[2015-04-10 13:59] ayan-usgs commented on #18
@hrajagers or @rsignell-usgs,

Thoughts on where we can find an SGRID compliant WRF dataset?

[2015-04-10 14:02] rsignell-usgs commented on #17
@ayan-usgs , I don't have any Deltares SGRID datasets, so I'm hoping that @hrajagers can point us toward one.

Bert, if you don't have one already SGRID-ized, if you can just point us toward a non-SGRID Deltares output file we can create the NcML ourselves.

[2015-04-10 14:04] rsignell-usgs commented on #18
I don't have any SGRID-compliant WRF datasets either.
@hrajagers, if you have one, please point us toward it.
Bert, if you don't have one, we *do* have plenty of WRF datasets around that we can fix up with NcML.

[2015-04-10 14:36] rsignell-usgs commented on #13
These are provided by the `face_coordinates` and `node_coordinates` attributes in the grid topology container variable, no?
[code]

https://github.com/ESIPFed/cf-dataset-curator/blob/master/datasets/mvco_roms/00_dir_roms.ncml#L109-L110

[2015-04-10 14:39] rsignell-usgs commented on #16
@ayan-usgs , yes, it better.  That's the whole point, after all!  :smile_cat:

[2015-04-10 14:46] ayan-usgs commented on #13
@rsignell-usgs,

I guess I was unclear in my original question. Yes, they are a part of the the SGRID convention and pysgrid does have them as attributes.

However, face and edge coordinates are optional attributes. If they aren't present, I'd have to loop through the variables to find them and in that event, I'm wondering if there as more general way to find them then looking for the variables `l

[2015-04-10 17:12] rsignell-usgs commented on #13
@ayan-usgs , okay, I see.  In the case where `node_coordinates` and `face_coordinates` are not explicitly provided, you should be able to read the required `location` attribute for the variable, and then look at variables in the `coordinates` attribute.   For  example, the `coordinates` of a `face` variable point to the `face_coordinates` variables.

[2015-04-13 14:00] ayan-usgs commented on #10
@ocefpaf,

I would greatly appreciate your help with SGRID. Could you elaborate on what you mean by "plugin"?

Also, I would be completely willing to do a code review approach for pull requests.

Regards,

Andrew

[2015-04-16 14:57] ocefpaf commented on #10
To be honest, not really sure on how to proceed right now.  I will study `pysgrid` code a little bit and check how to proceed.  The goal is to make `pysgrid` as friendly as possible to be used by the current CDMs we have out there.

Great!  Just ping me on every PR you want me to review.

[2015-04-16 14:57] #10 closed

[2015-04-16 15:02] ayan-usgs commented on #10
Cool. I see you've accept the admin invite that was sent. Awesome!

[2015-04-16 15:04] ocefpaf commented on #10
(I am slowly catching up with my e-mails.  Conferences are fun, but the e-mail monster grows exponentially when you are in one ;-)

[2015-04-23 18:12] ayan-usgs commented on #18
@hrajagers and @rsignell-usgs,

Thanks for the help!

[2015-04-23 18:12] #18 closed

[2015-04-27 15:11] ayan-usgs opened #32 "rebase or make new forks for pysgrid"
@ocefpaf and @rsignell-usgs,

I noticed that the binary netCDF test files that were being used by pysgrid were causing the git repo to balloon size. I have modified the code to create the files when testing and delete them when testing is complete. I also needed to make changes to the Git history per the documentation at http://git-scm.com/book/en/v2/Git-Internals-Maintenance-and-Data-Recovery#Rem

[2015-04-27 15:12] ocefpaf commented on #32
@ayan-usgs take a look at: https://help.github.com/articles/working-with-large-files/

It might help.

[2015-04-27 15:15] ayan-usgs commented on #32
@ocefpaf,

I'm not sure what I'm supposed to get out of that doc. I don't think it contains very much pertinent information.

[2015-04-27 15:15] ocefpaf commented on #32
Sorry, I meant this on: https://www.google.com.br/search?q=github+large+file+support&oq=github+lar&aqs=chrome.0.69i59j69i57j0l4.2673j0j4&sourceid=chrome&es_sm=122&ie=UTF-8

[2015-04-27 15:17] ocefpaf commented on #32
(My `v` key is failing and it is hard to know when copy-and-paste workd :stuck_out_tongue_winking_eye:)

[2015-04-27 15:23] ayan-usgs commented on #32
@ocefpaf,

Thanks for the link. I still have no desire to have the test netCDF files under source control though. The package contains the necessary code the recreate them when needed.

My intent was to allow facile cloning of the repository. I suspect a repo clone would still go out a get the binaries when using LFS, so I'm not particularly inclined to pursue at this point.

[2015-04-27 15:38] ocefpaf commented on #32
It is up to you.  I like the idea of having the test data as well a test data generator script.  That way we can use them in examples, documentation, etc.  Some projects, before GitHub's lfs, have a separated repository for that.  See https://github.com/SciTools/iris-test-data for example.

[2015-04-30 12:48] #13 closed

[2015-04-30 12:49] ayan-usgs commented on #16
The current version of pysgrid seems to be doing this reasonably well.

[2015-04-30 12:49] #16 closed

[2015-04-30 12:50] ayan-usgs opened #35 "SGrid Axes and Standard Name Requirement"
I was reviewing the thread at https://github.com/sgrid/sgrid/issues/1 where we discussed standard names for grid-aligned velocity components. While the discussion started with a suggestion to use the standard names sea_water_x_velocity and sea_water_y_velocity, the discussion eventually went to the direction of an axes attribute. From the discussion, I created a representative ROMS dataset using t

[2015-04-30 12:51] ayan-usgs commented on #35
email message from @rsignell-usgs :

Yes, those standard_names would still be required.   Searching
standard_names looking for substring "velocity" is the only way to
identify velocity variables.

[2015-04-30 13:01] ocefpaf commented on #35
@ayan-usgs and @rsignell-usgs I do not think that numerical models use `speed` and `direction`, but I have to search for those when identifying velocity in some observed datasets too.

[2015-04-30 13:04] ayan-usgs opened #36 "Grid Angles"
ROMS models have an angles variable, but that doesn't seem to be the case with WRF and delft3d models. Is that a correct assessment? If it is, would it be necessary to derive angles from other variables within the dataset?

[2015-04-30 14:59] rsignell-usgs commented on #35
@ocefpaf, good point!

[2015-04-30 15:00] rsignell-usgs commented on #35
But at least if we have speed and direction, it won't be on a staggered grid!

[2015-04-30 15:00] #35 closed

[2015-05-01 13:21] ayan-usgs commented on #36
@rsignell-usgs,

What are your thoughts regarding this?

Thanks!

[2015-05-01 15:38] ayan-usgs commented on #36
During a phone call @rsignell-usgs mentioned that the angle of the grid would have to be calculated from latitude and longitude values.

[2015-05-01 15:40] ayan-usgs commented on #36
@kwilcox,

Rich mentioned that you already have a function to do this. Would you be willing to share it with me?

[2015-05-01 16:19] kwilcox commented on #36
Sorry, I don't have a function that does the calculation from lat and lon values.. I've only ever needed to do this with ROMS and have used the `angle` variable that already exists.

[2015-05-01 18:08] ayan-usgs commented on #36
@kwilcox,

Thanks for letting me know.

[2015-05-01 19:07] rsignell-usgs commented on #36
Here is what our Matlab code had:
[code]

[2015-05-01 19:11] rsignell-usgs commented on #36
But I see that this matlab code was using lon, lat as x,y, which is not correct.  We should be using something like

[code]
as demonstrated here:
http://nbviewer.ipython.org/gist/ocefpaf/9255e5cea03f7705a5fe

[2015-05-01 19:15] rsignell-usgs commented on #36
@ayan-usgs , can you use this to make a more general SGRID version?
You could use the ROMS data as a check to make sure you get back something close to the known angle (it won't be exact, but should be very close).

[2015-05-04 13:11] ayan-usgs commented on #36
@rsignell-usgs,

Thanks for the matlab example. I actually had a preliminary Python version of it to do the angle calculation soon after I say Kyle's message. :smile:  Still working on the kinks though.

[2015-05-04 13:12] rsignell-usgs commented on #36
Yeah, this stuff is tricky.  Angles and indices together.  Scary!  :fearful:

[2015-05-05 14:42] ayan-usgs commented on #17
@hrajagers,

Is there a dataset you can point us to?

Thanks!

[2015-05-07 19:01] ayan-usgs commented on #36
I've added a pretty general way of calculating angles in pysgrid.

[2015-05-07 19:01] #36 closed

[2015-05-07 21:14] rsignell-usgs commented on #36
Uh, where?  Was there a Pull Request?

[2015-05-07 21:17] ayan-usgs commented on #36
@rsignell-usgs,

It was this commit: https://github.com/sgrid/pysgrid/commit/a91c9994cca5cc344a6f8aa7abf839f798a225d8.

[2015-05-07 21:27] ocefpaf commented on #36
@ayan-usgs you had 14 commits in that PR (#38), changing 9 files ranging from tests, bugfixes, spelling errors and the actual `calculate angles` implementation.  That makes it very hard for others to follow and contribute to pysgrid development!

I do recommend to commit as often as you do, but before sending the PR try re-basing them to a few meaningful commits.  Also try to send smaller PRs :win

[2015-05-13 19:43] ayan-usgs opened #41 "handling of time variables in pysgrid"
This issue was spawned from a discussion on PR #40.

Should pysgrid handle time variables? It currently makes an effort to, but it's becoming apparent that it's not necessary for an staggered grid topology.

If there's value in doing so, we should, but it's not immediately obvious if there is. If there is value here, it should also be "smart" enough to deal with multiple variables with `standard_n

[2015-05-13 19:47] rsignell-usgs commented on #41
I can't think of any reason for pysgrid to handle time.

[2015-05-13 20:36] ayan-usgs commented on #41
Alright. I'm going to remove it/

[2015-05-13 20:49] ocefpaf commented on #41
:+1:

[2015-05-13 20:59] kwilcox commented on #41
:+1: A similar decision was made for pyugrid awhile back... it doesn't manage anything but the specific UGRID things.

[2015-05-18 18:47] #41 closed

[2015-07-02 20:37] kwilcox opened #50 "Accessing grid coordinates"
@ayan-usgs @rsignell-usgs In sci-wms, we need to create a tree index for each `grid` in a sgrid dataset so we can quickly identify the nearest grid point for a given lat/lon pair.  When a request comes in for a variable, we look to see which `grid` it is on (rho, psi, u, or v for ROMS, but it should be arbitrary) and use the appropriate tree index to query for the nearest grid point.

Does access

[2015-07-05 21:16] ocefpaf commented on #50
@kwilcox only @ayan-usgs can answer correctly that question, but you must avoid using `rho` or `psi` grids!  Otherwise you'll find yourself creating something that is ROMS specific, and that beats the purpose of using `pysgrid`.

@ayan-usgs I will gladly help you write some docs and/or examples for `pysgrid`.  How far are you from a stable release?

[2015-07-06 00:49] ayan-usgs commented on #50
@kwilcox,

Pysgrid doesn't handle staggered grids as if there are separate grids for nodes for `rho` and `psi` points, or for `u` and `v`. It instead handles grids that are defined in a variable containing `cf_role = grid_topology`. For example, in a ROMS dataset, rho, psi, u, v, and etc., would be all on the same grid, defined by an "sgrid" variable. I think it's possible that there could be more

[2015-07-06 11:00] rsignell-usgs commented on #50
@ayan-usgs, are you using `rho, psi, u and v` as generic names for the locations on the `sgrid`, so that these names would apply to locations from any model (e.g. ROMS, WRF, Delft3D...)?     That would be okay, but perhaps we could try to see what Arakawa called these locations in his original paper  http://www.sciencedirect.com/science/article/pii/B9780124608177500094.

In either case, we should

[2015-07-06 14:17] kwilcox commented on #50
@ocefpaf I agree, I was looking for a generic approach for returning all of the grids.  I used the ROMS names for familiarity.

@ayan-usgs @rsignell-usgs Rich said it better, I need a way to access all of the **child** grids as well as the **main** grid that we average everything onto for visualization purposes (if necessary).  Maybe `.centers` and `.nodes` can return the **main** grid lat/lon pai

[2015-07-06 20:22] ayan-usgs commented on #50
@rsignell-usgs,

No, I am not currently using `rho`, `psi`, `u`, or `v` as generic terms. Though I've been using `centers` and `nodes` as  `rho` and `psi`, it's the only instance where that occurs; I think of `centers` and `nodes` a bit differently as those are the only places where the sgrid object carries data from the original dataset. In general, what currently happens is that the variable nam

[2015-07-07 13:05] ayan-usgs commented on #50
@rsignell-usgs,

So for a child grid, what would be the `centers` and `nodes`. For example, in a ROMS dataset would the `u` variable have `lat_u` and `lon_u` be grid centers or grid nodes? My initial thinking is that `lat_u` and `lon_u` could be the nodes of the `u` child grid; these nodes would be coincident with the `u` vectors. The `centers` would then be a node of the main grid.

It seems more

[2015-07-07 18:37] rsignell-usgs opened #52 "Add an example notebook"
I would be nice to add a notebook showing some features of pysgrid.

How about starting with a pysgrid version of this notebook?

http://nbviewer.ipython.org/gist/rsignell-usgs/a85e68a71933910a171a

[2015-07-09 16:04] #52 closed

[2015-07-10 00:45] ayan-usgs opened #54 "Provide human readable __repr__ and __str__ for SGrid objects... the default is useless"

[2015-07-10 00:47] ayan-usgs opened #55 "Streamline selection of face coordinates variables from SGrid objects"
Calling `.face_coordinates` on an SGrid object currently returns a tuple contain the coordinate name strings. It's probably more useful to return the SGrid variables of each rather than the string.

[2015-07-10 00:56] ayan-usgs opened #56 "Mechanism to slice variables"
The sgrid standard specifies a `padding` parameter on coordinates defined within in the staggered grid. Depending on what is being done with a variable, it may be necessary to use the padding to trim rows/columns off a dataset. The `pysgrid` sgrid creates a slicing attribute (e.g. `center_slicing`) on variables to help with this, but the use it the slicing attribute typically requires it to be sli

[2015-07-10 00:59] ayan-usgs opened #57 "Averaging of vectors to nodes"
Averaging of vectors to grid cell centers is currently supported in `pysgrid`; support for averaging to nodes needs to added.

[2015-07-10 15:29] ocefpaf commented on #57
:+1:

[2015-09-09 19:03] ocefpaf opened #60 "Pinned versions"
Pinning the requirements versions

[code]

and [enforcing](https://github.com/sgrid/pysgrid/blob/master/setup.py#L7) them at install time is creating makes it a hellish nightmare to install `netCDF4 1.1.9` and/or `numpy 1.8`.  Both are perfectly OK with `pysgrid` BTW!

Please consider relaxing the version constraint unless a real version issue exists.

[2015-09-09 20:07] #60 closed

[2015-09-16 20:19] ocefpaf opened #63 "Provide a callback mechanism for non-compliant dataset"
[Iris](http://scitools.org.uk/iris/docs/latest/iris/iris.html) has this nice `callback` functionality that allow users to "patch" the metadata and force compliance at loading time.  Since there are virtually no sgrid compliant data yet I guess that a `callback` functionality would be a nice addition to `pysgrid`.

@ayan-usgs The way iris does this is by patching the "future cube" metadata.  For ex

[2015-10-22 20:58] ocefpaf opened #64 "Improve exception messages and get rid of custom exceptions"
I don't see the need for the custom exceptions we have here,

https://github.com/sgrid/pysgrid/blob/master/pysgrid/custom_exceptions.py

They add a complexity and they are a burden to future maintainer.  In the end all those are ValueErrors.

Also, we need to mimic `pyugrid` and return what is failing instead of just failing.  (I just fixed a dataset thanks to pyugrid's messages.)

[2015-10-22 21:07] #32 closed

[2015-10-23 13:10] ocefpaf opened #65 "Add a mesh_name property"
Akin to pyugrid's [mesh_name](https://github.com/pyugrid/pyugrid/blob/a24757fa9237702f94b4ca7ce3ac80cb66bbd86a/pyugrid/read_netcdf.py#L96).

[2015-10-28 17:52] ocefpaf opened #68 "Change the mapping to the grid variable to something that is model agnostic"
We can identify the `edge1_coordinates` coordinates with `sgrid.edge1_coordinates`, but the actual data is associated with the original model name (in ROMS case `sgrid.lon_u`).

Unless I am missing something if someone wants to create a "generic" grid reader we must do:

[code]

@ayan-usgs Is that correct?  Maybe instead of `sgrid.lon_u` and `sgrid.lon_v` we should have a `sgrid.edges`.

@rsignell

[2015-10-29 10:49] rsignell-usgs commented on #68
@ocefpaf, your argument for `sgrid.edges` makes sense to me.

But I'd like to get @kwilcox opinion also.

The only application I know of that is using `pysgrid` right now is `sci-wms`, which I believe @kwilcox is focusing on this week.   You could check out this routine:
https://github.com/sci-wms/sci-wms/blob/master/wms/models/datasets/sgrid.py

[2015-10-29 11:14] ocefpaf commented on #68
If I get what @kwilcox is doing he puts all edge variables into the grid center using `pysgrid.processing_2d`.  Which is a good decision since sci-wms focus is to serve a visualization layer.

My concern is to provide a low level API to analyse variables at the edges.  Some modelers do desire that feature.  See this quote from the [ROMS forum](https://www.myroms.org/forum/viewtopic.php?f=3&t=295):

[2015-10-29 12:33] ayan-usgs commented on #68
@ocefpaf,

Your assessment is correct. I think having `sgrid.edges` is a splendid idea.

[2015-10-29 13:17] ocefpaf opened #69 "Avoid full slices"
pysgrid code perform full data slices in some places like:

https://github.com/sgrid/pysgrid/blob/master/pysgrid/sgrid.py#L497-L532

That can be memory expensive and/or slow when the data origin in remote.

Options:
 1. Pass along the netCDF4-python variable instead of the slice.  Maybe with little to no modification all the 2D processing will just work.
 2. Make them a lazy array using either das

[2015-10-29 14:43] rsignell-usgs commented on #69
I wouldn't worry about the dependency and just go for dask (didn't the biggus guys say they were going to replace biggus with dask eventually?)

[2015-10-29 16:53] ocefpaf commented on #69
There is a lot to do!  This PR just avoid loading all the data in `get_cell_center_lat_lon`.  However, `pair_arrays` will do that later :unamused:

We need either to make them lazy as soon as possible and adapt the code to use only lazy arrays, or to implement a custom `__gettiem__`.

[2015-10-29 16:56] ocefpaf commented on #69
@ayan-usgs is the rational behind pairing the arrays?  I know that `pyugrid` does the same, but I find that a violation of the data model.  The netCDF file is not paired so why should we?

[2015-10-29 16:58] ocefpaf opened #71 "Getting rid of the Metaclass and the 3D class"
@ayan-usgs I know that this is a drastic change, but I believe the SGRID conventions should not cover 3D staggered grids.  And, if that is revised to do so, we can simplify the code a lot and lower the entry barrier for newcomers.

[2015-10-29 17:31] rsignell-usgs commented on #69
If this came from `pyugrid`, perhaps @ChrisBarker-NOAA remembers the rationale...

[2015-10-29 17:36] ocefpaf commented on #69
I asked him that at SciPy, but I was unconvinced :wink:

I don't want to split hairs. And I do understand that it more compact to hold lon, lat into 1 variable.
However, we should strive for compatibility with the rest of the world.

Also, what is the point of doing this here to later on do this,
[code]

when plotting?

[2015-10-29 17:49] rsignell-usgs commented on #69
I agree.   I find that confusing.  I have to then remember the order too.

[2015-10-29 17:50] ocefpaf commented on #69
Maybe we just found another case for APIRUS :wink:
@rsignell-usgs can you open an issue there for us please?

[2015-10-29 17:52] ayan-usgs commented on #69
@ocefpaf,

There wasn't a strong motivating factor to do that other than to have some consistency with `pyugrid` at the time the code was written. I have no objection to changing that so that lat and lon are separate.

[2015-10-29 17:56] ayan-usgs commented on #71
@ocefpaf,

That's fine. I was intending to remove it. There aren't any use cases for 3D grids. The only reason it's still there was because I never got a response from @hrajagers whether he was okay with dropping 3D  grid from the conventions.

[2015-10-29 17:59] ocefpaf commented on #71
Awesome :smile:

[2015-10-29 18:00] ocefpaf commented on #69
Great @ayan-usgs!  Let's coordinate to get this changed in both libraries then.

[2015-10-29 23:25] ChrisBarker-NOAA commented on #69
BTW -- what  are these ``pair_arrays`` you speak of?

[2015-10-30 00:09] ocefpaf commented on #69
In `pysgrid` it is here: https://github.com/sgrid/pysgrid/blob/4f0087143650e45c95a63be0363d2c84bd2210b0/pysgrid/utils.py#L19-L39

[2015-10-30 00:31] ChrisBarker-NOAA commented on #69
I see -- so this is essentially taking what may be two MxN arrays of, say, lat and lon, and making a MxNx2 array of lat-lon pairs.

OK -- I can see how that might start to feel a bit more ugly when you add extra dimensions...with 1-d it seems so natural.

Also -- a quick grep through the py_ugrid code does find a lot of "nodes[:,0]" etc....

But if you spilt lat and long up, you now could get them

[2015-10-30 11:00] ocefpaf commented on #69
I do.  Also, `xray`, `iris`, virtually all plotting packages, and the CF-models is that way.

Not really.  That would be a bonus for this change.  We could create a "lazy_paired" array.

The motivation is not to make it easy, but consistent with the model we are loading from.

We have to remember that people will mix grid-like objects with data loaded with other packages (raw netCDF4-python, xray,

[2015-10-30 19:44] ChrisBarker-NOAA commented on #69
We could, and would, I think gain the API, but not the performance advantages -- one of the point sis to keep lon and lat close to each-other in memory...

Do we really want to see people plotting like?

[code]
well, first,  I'm proposing:

[code]
but even more to the point, the goal is is a better API that doesn't make you know about the grid, so it's really something like

[code]

but anyway --

[2015-12-22 11:42] rsignell-usgs commented on #17
@hrajagers, ping!

[2016-01-18 20:28] ocefpaf opened #73 "Faces and centers"
@ayan-usgs, when browsing the namespace one can easily find everything that is related to nodes with `sgrid.node<tab>` (`sgrid.node_coordinates`, `sgrid.node_dimensions`, `sgrid.node_lon`, `sgrid.node_lat`, and `sgrid.node_padding`). However, when doing the same for the center we only find `sgrid.center_lon` and `sgrid.center_lat`.

Does it make sense to rename the `sgrid.face_{coordinate, dimensi

[2016-01-19 13:44] ayan-usgs commented on #73
@ocefpaf,

Yep, doing the rename makes sense.

[2016-01-19 14:10] ocefpaf commented on #73
Thanks @ayan-usgs!

FYI I am experimenting a new API and ways to make all slices and computations lazy:

http://nbviewer.jupyter.org/gist/ocefpaf/28d9279479022454bb99

It is not ideal yet because of a masking issue.  If I can figure that out things will be much easier for sci-wms.

[2016-01-19 16:22] ocefpaf opened #74 "Question about center_slicing"
The `<var>.center_slicing` returns a tuple with `slice`(s) objects in the form `(slice(1, -1, None), slice(1, -1, None))` for each variable.

If I got this right that is trimming the padding, no?  If not: how would a node slice be different from a center slice? Shouldn't the trimming be the same? If yes: can we rename this to `.trim` or something like that?

[2016-01-19 22:38] jay-hennen opened #75 "Huge .pack file dominating repository"
If you want to clone/fork this repository there's currently a giant .pack file residing in .git/objects/pack/ that is over 90MB in size. This makes up over 99% of the repository's size.

If netCDF files were on the repository and subsequently removed, it might be worth purging them from the history to eliminate some of this .pack file's girth

[2016-01-20 14:59] ayan-usgs commented on #74
@ocefpaf,

Sorry for the delayed response. Things have been crazy busy. :sweat:

You are correct that is trimming the padding. My understanding of the padding convention as written at https://publicwiki.deltares.nl/pages/viewpage.action?pageId=108953628 would be that the trimming for nodes would be different from that of the center. For example, for a case where `<var>.center_slicing` is `(slice(1

[2016-01-20 16:02] ocefpaf commented on #74
No hush.  I am on "vacation." (That is why I am working on pysgrid :wink:)

OK.  That means the "`center`" in the name is needed.  I would like to suggestion  the following:

`<var>.trim_center`, `<var>.trim_node`

Also, few users would want to do that alone, most users will perform the average right away.  So we could added that as part of `.avg_center` and `.avg_node`methods (that I am writing :

[2016-01-21 14:01] ayan-usgs commented on #74
I think those are splendid names.

Great idea!

[2016-01-21 18:28] ocefpaf opened #76 "Improve the sgrid variable API"
@kwilcox mentioned in #72

sci-wms needs to know too much information about what an sgrid is:
* https://github.com/sci-wms/sci-wms/blob/e3d3d20735d2c4530fbba8b206b632da121647a4/wms/models/datasets/sgrid.py#L216-L237
* https://github.com/sci-wms/sci-wms/blob/e3d3d20735d2c4530fbba8b206b632da121647a4/wms/models/datasets/sgrid.py#L251-L278
* https://github.com/sci-wms/sci-wms/blob/e3d3d20735d2c4530fbb

[2016-01-21 18:45] ocefpaf commented on #76
@kwilcox thanks for the sci-wms references above.  The first and last should be included in `pysgrid`!
The second I believe is a matter of polishing pysgrid's API.

[Here](http://nbviewer.jupyter.org/gist/ocefpaf/b4602bc1f9cd15f65c50) is a prototype API where the center averaging function became a method of the `sgrid` variable.  There is plenty room for improvement, but that already removes the b

[2016-01-22 14:00] #71 closed

[2016-01-22 14:15] ocefpaf commented on #69
Done in #72

[2016-01-22 14:15] #69 closed

[2016-01-31 13:29] ocefpaf commented on #75
Hi @jay-hennen that is indeed a problem.  Thanks for pointing that out.  I will see if I can filter that file out of the history.  Let's leave this issue opened until than.

[2016-01-31 14:27] ocefpaf commented on #75
I purged `*.nc` files in master with:

[code]

Now you can either start a new fork or do:

[code]

PS: If I did it right and if I got how garbage collection works in servers it might take a while until the space is freed in GitHub.

Reference: http://blog.ostermiller.org/git-remove-from-history

[2016-02-01 17:18] jay-hennen commented on #75
I'm not sure it's fixed. I forked the repo and it still wants me to download 90MB when I clone it. Or hasn't GitHub cleaned it's end up yet?

[2016-02-01 18:36] jay-hennen commented on #76
I'm working on the cell tree grid searching and interpolation routines, and refactoring them now to deal with the API changes. I've got two questions relating to the staggered grids and what the current momentum is:

1. One area of uncertainty I'm trying to deal with is variable names. Conceptually:
psi grid == (self.node_lon, self.node_lat)
rho grid == (self.center_lon, self.center_lat)
u grid ==

[2016-02-01 23:11] jay-hennen commented on #76
I would like to suggest that the grid coordinates NOT be lazy loaded, and stored as numpy arrays (either raw or wrapped in a SGridVariable. I don't think they're large enough or infrequently used enough to warrant the data transfer/memory usage saved by lazy loading.

If they still must be lazy loaded, then upon first use (data retrieval) they should be fully loaded for the rest of the life of the

[2016-02-01 23:39] ocefpaf commented on #76
Cool. Can you point us to a repo/branch where you are working in this?

Be aware that `pysgrid` is not stable yet and we are planning a few more changes in the near future.  Let's work together to avoid the pain of big refactoring!

Not sure what you are calling `u`, `v` grid, but take a look at the [SGRID conventions](https://publicwiki.deltares.nl/pages/viewpage.action?pageId=108953628), they mi

[2016-02-02 16:08] jay-hennen commented on #76
Thanks a lot Filipe.

https://github.com/jay-hennen/pysgrid

I don't have an example notebook up yet...the lazy loading of grids issue is the block at the moment. A lot of this interpolation depends on the grids being not only loaded, but use numpy-style advanced indexing. The grids should also persist between interpolation calls, if you want any semblance of efficiency.

It's a little tougher tha

[2016-02-02 16:41] hrajagers commented on #76
Hi,

Just a few random comments on the issues you raise. I haven't had time to
read all the pys/ugrid posta thatI see pass by daily.

The sgrid conventions have indeed been inspired by the ugrid conventions.
The ugrid conventions were indeed specifically drafted to get away from
only data stored at "corner" nodes; data at cell centres and edges is quite
common although not all models use the same

[2016-02-02 17:44] jay-hennen commented on #76
Definitely not taking that approach. Our use case is interpolating a variable to arbitrary points on the psi grid. The variable is on a completely different grid (rho, u, v), which necessitates either additional point location calls (slow) or index translation (faster) so you can get the right values to interpolate with.

If edge1_coordinates is going to become edge1_lon and edge1_lat etc, I can w

[2016-02-02 17:48] rsignell-usgs commented on #76
@hrajagers, Bert, good to see you here!
Do you have or are you planning any code development using the SGRID conventions?

[2016-02-02 20:36] hrajagers commented on #76
Hi Rich,

Delft3D 4 writes out files NetCDF files following SGRID conventions (set
output format to NetCDF: FlNcdf=#map his#).
Delft3D FM has an option to write out NetCDF files following UGRID
conventions (set MapFormat=4).
We have uploaded some time ago examples of both files onto our OPeNDAP
server, but I think that I didn't inform you yet about it:
http://opendap.deltares.nl/thredds/catalog/op

[2016-02-02 20:44] hrajagers commented on #76
OK, your psi grid is the grid of corner points.
I don't see psi, rho, u, v grids as completely different grids. For me
there is only one grid with data defined at different stagger locations.
If you see it as completely different grids, then you'll have to do a lot
of generic interpolations.
If you see it as one grid, then it should be possible to use index
translations.
By the way, is any other m

[2016-02-02 21:13] jay-hennen commented on #76
of generic interpolations.

Not sure what you mean by that. It's also still possible to do index translation if you think about them as separate grids, you just have to check that your point is within the new index and search the alternatives if it's wrong.

As for the ROMS names...I don't know. I'll probably convert the ones I have been using to what sgrid is using so it won't be an issue.

[2016-02-02 21:23] hrajagers commented on #76
Not totally sure what you mean by checking whether a point is inside an
index, but I understand that you only have to generate an index table for
the interpolation only once. After that it's simple, but for in the
interpretation of one grid the searching indices of the enclosing points
wouldn't be necesary since they would follow simply from the neighbour
relationship relations. If I make myself c

[2016-02-02 21:41] jay-hennen commented on #76
It's a bit tough to think about. Drawing a picture is helpful but it can also get cluttered fast! The gist of the problem is that if you pick a random point in a psi cell, that point could be in one of 4 different rho cells. If the point is in psi cell [0, 0], then it could be in rho cell [0, 0], [0, 1], [1, 0], or [1, 1] and you have to find out which. In the rectilinear case this can be done wit

[2016-02-03 15:56] ocefpaf commented on #76
This discussion is good, but it is drifting away from the `pysgrid` API topic. I suggest we open a new issue if you want to keep discussing grids and sgrid interpretation.

@jay-hennen I don't understand your worries about lazy loading. Maybe I will once I see the code/implementation of your ideas. (I checked your `pysgrid` fork but I could not find any new code to comment or experiment on.  I als

[2016-02-03 16:35] jay-hennen commented on #76
Most of the changes are in here Filipe:
d31bacff70d6d896892f49930956b5047157032b

After I slice a netCDF variable, how long does that information persist? If I make subsequent calls will the previous calls remain?

self.node_lon[:]
self.node_lon[8,5]
self.node_lon[:]

Would that translate into three lazy loads or just two? If we skip the middle line, is it two or one?

[2016-02-03 17:22] ocefpaf commented on #76
d31bacf

I see you committed https://github.com/sgrid/pysgrid/commit/d31bacff70d6d896892f49930956b5047157032b yesterday, thanks!  Feel free to send it as a PR so @ayan-usgs and @kwilcox can comment too.

Yep.  That is what I meant be load it with `[:]`.  We might introduce a `.points` (or `.data`, `.values` ?) property that will trigger the load and persist after the first load.  (Akin to `xray`,

[2016-02-04 20:01] jay-hennen opened #79 "Out-of-file topology definition"
I'm working with a ROMS file for the NJ shore (from [here](http://geoport-dev.whoi.edu/thredds/ncss/grid/clay/usgs/users/zdefne/run076/his/00_dir_roms_display.ncml/dataset.html)) and I'm trying to get it to load into an SGrid object so I can use it in pygnome. However, since the file is missing the 'grid' variable containing the grid topology, it can't load anything. There doesn't seem to be (or I

[2016-02-04 20:55] ocefpaf commented on #79
Providing a callback function to fix non-compliant data at load time is under our radar, but I cannot allocate time to implement that anytime soon :unamused:

Another way is to send rsignell-usgs's `yaml2ncml` to the data provider and fix the data at the source.

[2016-02-04 20:56] ocefpaf commented on #79
In a way this is duplicate of #63.  Closing to avoid confusion.

[2016-02-04 20:56] #79 closed

[2016-02-04 21:57] rsignell-usgs commented on #79
The NJ ROMS dataset in question *was* created with `yaml2ncml` and *does* have a `grid` variable:

http://geoport-dev.whoi.edu/thredds/dodsC/clay/usgs/users/zdefne/run076/his/00_dir_roms_display.ncml.html

It also works find in sci-wms, which uses pysgrid to read the dataset.
What exactly is the problem you are having?

[2016-02-04 22:14] jay-hennen commented on #79
Hmm, must have been my inexperience with the system then! The link you posted has it clearly at the bottom, but I'm not sure how to get a .nc from that page. I don't see it either in the first link and it wasn't included in the download link I got from @hetland

I'm trying to get a local copy of the grids and a few time, u, and v slices to work with.

[2016-02-05 20:15] rsignell-usgs commented on #79
@jay-hennen , I would be interested in hearing what issue you had here.

[2016-02-05 20:28] jay-hennen commented on #79
I could, and I have done similar while working on pysgrid. I'm looking for a local file so I don't have to wait for the network when doing pygnome runs during development

[2016-02-05 20:38] rsignell-usgs commented on #79
The best way to grab just a few u,v slices and a few times would be with the NetCDF Subset Service, but unfortunately there is a bug that prevents this from currently workign.

You could instead use NCO, however.    If you are on mac or linux, we have that packaged for conda:
[code]
Then you could do extract surface velocity (layer 6) for 5 time steps by typing:
[code]

[2016-02-05 20:56] jay-hennen commented on #79
Thanks a lot. I'll give it a try.

Surface velocity is layer 6? Does that make 0 the bottom? That's funny, I thought it was the other way around.

[2016-02-05 21:04] rsignell-usgs commented on #79
Yep, in FVCOM and most models, 0 is the surface layer, but in ROMS, 0 is the bottom layer.

[2016-02-05 21:16] jay-hennen commented on #79
Well that's confusing! But hey, I'm just the code monkey :)

[2016-02-08 13:50] ayan-usgs opened #80 "Fix Travis CI tests failing"
Travis CI is erroring. Investigate and fix if necessary.

[2016-02-08 14:06] ocefpaf commented on #80
Our travis link is pointing to https://travis-ci.org/sgrid/pysgrid and that is showing @jay-hennen latest work. (The [latest](https://travis-ci.org/sgrid/pysgrid/builds/105692932) merge to master seems OK. We might want to look into changing the badge link to point to the master merges, not sure how yet...)

BTW @jay-hennen working from master is not recommended.  It is preferred to create a branc

[2016-02-08 14:11] ocefpaf commented on #80
OK I see a segfault [here](https://travis-ci.org/sgrid/pysgrid/jobs/106027430).  Something changed on Travis-CI :unamused: I will take a look.

[2016-02-08 16:15] ayan-usgs commented on #80
It's beguiling. I can't seem to reliably reproduce the segmentation fault....

Guess it's time to do some Googling.

[2016-02-08 16:27] ayan-usgs commented on #80
What's exceedingly bizarre is that the Travis CI tests will run without a segmentation fault when running against by fork, but will fail on PR requests to master from that fork. It's the same code and the Travis CI settings are ostensibly the same.

[2016-02-08 16:50] ocefpaf commented on #80
Segfaults are always fun...

[2016-02-09 14:06] ocefpaf commented on #73
Can you cross- reference the PR that did the rename?  I am a bit lost.

[2016-02-09 14:14] ayan-usgs commented on #73
The rename happened in #72. The variables were named `face_coordinates`, `face_dimensions`, etc.

[2016-02-09 14:16] ocefpaf commented on #74
I don't believe we implemented any of those, right?  Or am I missing a few PRs from this repo?

[2016-02-09 14:19] ayan-usgs commented on #74
No, we didn't implement any those. I closed this issue because the question was answered. Could re-open it though.

[2016-02-09 14:26] ocefpaf commented on #74
Let's keep it open until we send the proper PR to rename it.  I had it ready in my dead laptop and I am re-doing it here.  I was just waiting for #78 to stabilize first.

[2016-02-09 14:28] ocefpaf commented on #73
I `center_{lon,lat}` are still there.  The question was regarding re-naming those.

[2016-02-09 14:29] ayan-usgs commented on #75
bfg might be a good tool to use for this. https://rtyley.github.io/bfg-repo-cleaner/

I've used it a few times and have been pleased with it.

[2016-02-09 14:30] ocefpaf commented on #75
I don't believe it is a tool problem.  I am contacting GitHub help to understand why the files are still there.

[2016-02-09 14:31] ayan-usgs commented on #73
Sorry. Didn't totally re-read the question... :sob:

[2016-02-18 21:58] ocefpaf commented on #75
I wrote GitHub support and I think it got solved.

[2016-02-18 21:58] #75 closed

[2016-03-08 21:27] ChrisBarker-NOAA opened #86 "netcdf version"
Does it really need this specific version of netcdf?

netCDF4 >=1.2.0,<1.2.2

1.2.2 is the current version in conda....

[2016-03-08 21:31] ayan-usgs commented on #86
Yes. There is a bug in 1.2.2. That particular requirement will be revisited with subsequent versions of netCDF4.

[2016-03-08 21:33] ocefpaf commented on #86
See https://github.com/sgrid/pysgrid/pull/81

[2016-03-08 21:37] ChrisBarker-NOAA commented on #86
Got it -- indeed, I did get some segfaults the first time I tried running the tests (in our fork, I thought was a problem with our fork!)

[2016-03-08 21:37] #86 closed

[2016-03-09 17:26] ChrisBarker-NOAA opened #88 "Coding Style Guide"
It would be nice to have a style guide (and to share it with pysgrid).

THe Iris developers guide is a good start:

 iris developers guide.

http://scitools.org.uk/iris/docs/v1.9.2/developers_guide/index.html

But it's a bit short on style. As far as I can tell, they recommend PEP8 for code, and  PEP 0257 for docstrings, but we could use some expansion on those:

When to use single vs double quote

[2016-03-09 18:01] ocefpaf commented on #88
pyugrid?

[2016-03-09 18:16] ChrisBarker-NOAA commented on #88
yup -- I forgot what project I was posting to :-)

Which is why these should all be in one project, or at least one organization -- but that can wait.

-CHB

[2016-03-09 22:54] ChrisBarker-NOAA commented on #88
I put a start of one in the APIRUS project:

https://github.com/ioos/APIRUS/blob/master/style_guide.rst

we can start pointing to that for this project.

[2016-03-09 22:54] #88 closed

[2016-03-10 11:14] ocefpaf opened #89 "Bloated __init__"
@rhattersley raised [this](https://github.com/ioos/APIRUS/pull/18/files#r55664711) in APIRUS:

    If your function has this many parameters maybe formatting isn't the problem that needs solving?

I see a few way we can cut down the fat there. Most of those are expected to exist by the SGRID convention and should be initialized without any declaration in `__init__()`, even the optional ones can be

[2016-03-10 14:20] ayan-usgs commented on #89
@ocefpaf,

I agree that many of those parameters can be grabbed either directly found from the SGRID conventions or reliably inferred. I don't think all those parameters are needed. During development, it was never thought that anyone would actually bother with manual creation of an SGRID object, but I leaned towards giving more flexibility to the users by allowing declaration of the parameters in

[2016-03-10 17:00] ChrisBarker-NOAA commented on #89
I absolutely, positively think it's important to be able to crate an SGRID object by hand!

Of course, that doesn't mean you need to be able to create a complete one with just the class initializer, you could initialize a partly completed one, and then add in the rest of it as separate operations -- in fact, that's what UGRID, and I'm sure SGRID do when loading from a netcdf file. (though there ar

[2016-03-11 16:39] ocefpaf commented on #89
Why?

The SGRID specs should cover that.

[code]

Those should be removed too.

The `pysgrid` module is a SGRID convention object that interprets the SGRID specs. The SGRID specs, as any other specs, are our (interoperability people :wink:) way to keep modelers at bay. Modelers have their way own of constructing grids already built-in in their models and/or other tools.

IMO there is no reason for

[2016-03-11 17:05] ChrisBarker-NOAA commented on #89
I think we have a different definition of "crate by hand". What I mean is create an sgrid object, once you have the grid defined in some other way -- like from one of those ways of "constructing grids already built-in in their models and/or other tools."

I didn't mean features that actually help you compute what the grid should be -- conforming to boundary, what have you. Though, now that you men

[2016-03-16 11:09] rhattersley commented on #89
Yet an Iris (no capitals - it's not an acronym) Cube *does* have [optional parameters](http://scitools.org.uk/iris/docs/latest/iris/iris/cube.html#iris.cube.Cube) for all its attributes. :confused: If it's tricky to create a Cube, it suggests lots of optional parameters isn't the solution. In short, I guess I don't understand the point you're making, sorry. :unamused:

My original comment was not

[2016-03-16 15:14] ChrisBarker-NOAA commented on #89
Yet an Iris (no capitals - it's not an acronym) Cube *does* have optional
parameters
<http://scitools.org.uk/iris/docs/latest/iris/iris/cube.html#iris.cube.Cube>
for all its attributes. [image: :confused:] If it's tricky to create a
Cube, it suggests lots of optional parameters isn't the solution. In short,
I guess I don't understand the point you're making, sorry. [image:
:unamused:]

You underst

[2016-03-16 15:17] rhattersley commented on #89
:sleeping:

[2016-03-23 19:38] jay-hennen commented on #75
This is still not solved. The files are gone from the commit history, but they are still in the .pack file. If I try to clone it still wants to download 95MB of stuff.

http://stackoverflow.com/questions/1904860/how-to-remove-unreferenced-blobs-from-my-git-repo/14728706#14728706

Running the script in that page fixed it immediately on my local repo. The pack size has shrunk to 804kb. However, I do

[2016-04-12 00:05] ocefpaf opened #90 "BSD type"
@ayan-usgs what type of BSD license do think is fitting here 2 or 3-Clauses? (Can you add a LICENSE.txt file?)

[2016-04-13 12:35] ayan-usgs commented on #90
Sure. I'll add a license.

[2016-04-13 12:46] ocefpaf commented on #90
Thanks @ayan-usgs.

PS: Do you want to be a maintainer of the conda-forge package? If so just send a PR with your GitHub handle [here](https://github.com/conda-forge/pysgrid-feedstock/blob/master/recipe/meta.yaml#L34-L36).

[2016-04-13 18:29] #90 closed

[2016-04-13 18:29] ocefpaf commented on #90
Done in #91

[2016-07-21 22:00] ChrisBarker-NOAA opened #94 "Time for a new tag / release?"
Now that PR #93 has been merged -- time for another tag / release?

Or do we want a little more testing / review?

-CHB

[2016-07-21 23:15] ChrisBarker-NOAA commented on #89
I think we're done here -- the _Init__ has most (all?) of the core stuff needed to create an SGrid object. good to go.

[2016-07-21 23:18] ChrisBarker-NOAA opened #95 "padding_slices ?"
I'm confused by the class attribute `padding_slices` -- it's in the `SGrid` class, but is only used in:

`pysgrid/utils/determine_variable_slicing`

honestly, I'm confused about that this is really useful for, but it strikes me that either that utuil function should be in `SGrid`, or `padding_slices` should be defined in `utils`.

[2016-07-21 23:50] ChrisBarker-NOAA commented on #80
this may have been the segfaulting with netcdf that seems to have been cleaned up with the test restructuring -- let's close it.

[2016-07-21 23:56] ChrisBarker-NOAA commented on #63
I tried this for pyugrid unsuccessfully -- it seems you can't patch attributes on an open file without changing them in the file, which you very well may not want.

and a full callback feature  seems like a bloated API to me.

what I've done in pyugrid is to provide a utility that theuser can use to map variable names to roles in the Standard, so it's pretty easy to load a compliant file.

https:/

[2016-07-22 15:44] ayan-usgs commented on #95
In retrospect, I think `padding_slices` should be defined in `utils`.

The SGRID convention draft https://publicwiki.deltares.nl/pages/viewpage.action?pageId=108953628 recognizes four relationships between face/edge and node dimensions. The `padding_slices` defines how variables should be subsetted based on those relationships. This is particularly useful when averaging variables defined on edges

[2016-07-22 16:13] ChrisBarker-NOAA commented on #95
OK -- let's move it there.

Though I'm a bit confused -- I'll need to look at the spec again more carefully -- but it seems that the SGrid object had better know what the relationships are between the dimensions -- or is that captured somewhere other than padding-slices?

[2016-07-22 16:15] ChrisBarker-NOAA commented on #95
BTW, it seems the gitHub version is now the "official" one:

https://github.com/sgrid/sgrid/blob/gh-pages/index.md

[2016-07-26 13:04] ayan-usgs commented on #95
The SGrid object does superficially keep track on what it's padding is; it keeps track of the attribute value (e.g. high, low, both, etc). The `SGridVariable` object does much more of the heavy lifting in terms of actually taking advantage of the attribute; the variable object has a couple `*_slicing` attributes derived from the padding that specifies how the variable is affected by the padding. I

[2016-07-26 15:47] ChrisBarker-NOAA commented on #95
OK, that makes sense. What I think we need to do now is come up with a standard API for `SGridVariable` objects and `UVar` objects (and a similar naming scheme :-) -- then we can see where this should all fall out.

Not sure if/when I'll get a chance to actually do that, so closing this for now.

[2016-07-26 15:47] #95 closed

[2017-04-17 21:37] ChrisBarker-NOAA opened #103 "New release?"
We just had a PR accepted with a version bump for 0.3.4

Could we make a release of that?

easier to run a conda-forge recipe if there is a release.

(I don't think I can do a PR fpr a release, can I?)

-CHB

[2017-04-17 23:20] ChrisBarker-NOAA commented on #103
Now that I think about it -- we pushed a  0.3.4 build to our anaconda channel:

https://anaconda.org/NOAA-ORR-ERD/pysgrid

which is before the test fixes, etc that in master now.

So maybe best to bump the version to 0.3.5 for this "release".

Then we can point the conda-forge feedstock at it.

-CHB

[2017-04-19 12:41] ayan-usgs commented on #103
I would be cool with a version 0.3.5 release. I'll try to get to it later today.

[2017-04-19 15:11] ChrisBarker-NOAA commented on #103
Awesome, thanks.

-CHB

On Apr 19, 2017, at 5:41 AM, ayan-usgs <notifications@github.com> wrote:

I would be cool with a version 0.3.5 release. I'll try to get to it later
today.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/sgrid/pysgrid/issues/103#issuecomment-295255410>, or mute
the thread
<https://github.com/notif

[2017-04-19 19:35] ChrisBarker-NOAA commented on #103
Done: thanks @ayan-usgs !

[2017-04-19 19:35] #103 closed

[2017-04-19 19:35] ChrisBarker-NOAA commented on #94
DONE:

[2017-04-19 19:35] #94 closed

[2017-11-16 20:10] acrosby opened #105 "`pip` install fails because PyPi only has cell_tree2d==0.1.1"
This is for both the master branch and the latest release. Is version 0.1.3 or greater of cell_tree2d really required?

Thanks!

[2017-11-16 20:30] ChrisBarker-NOAA commented on #105
This is the trick -- cell_tree2d is an optional dependency, and pip is not very good with that.

(or at least, I don't know how to configure it to do that...)

But if you want to use the cell_tree point-in-cell location, then yes, I think 0.1.3 is needed.

What we should do is push it up to PyPi, but it's here if you want to just get it working:

https://github.com/NOAA-ORR-ERD/cell_tree2d/release

[2017-11-16 21:15] jay-hennen commented on #105
Just pushed cell_tree2d-0.3.0 to pypi.

[2017-11-16 21:20] acrosby commented on #105
Thanks guys.

[2017-11-16 21:25] acrosby commented on #105
I'll look at a PR to support the optional deps. @ChrisBarker-NOAA does https://github.com/NOAA-ORR-ERD/gridded use pyugrid and pysgrid as deps, or do you have independent implementations of the specs?

[2017-11-16 21:47] ChrisBarker-NOAA commented on #105
we have copied the pyugrid and pysgrid code into the gridded source.

It was just too much of a nightmare to try to maintain them in three places, while keeping them in sync. And while in principle, I like things separate that have their own domain, and might want to be used independently, in this case:

1) the goal it to have one API to work with, so (at least anything not grid-type-specific) can

[2017-11-21 23:45] ChrisBarker-NOAA opened #106 "Future of pysgrid?"
NOTE TO ALL:

We at NOAA-ERD have "moved on" to the gridded project:

https://github.com/NOAA-ORR-ERD/gridded

gridded seeks to provide a single API for working with multiple grid types -- currently triangular ugrid, quad sgrid, and rectangular grids.

It also has code for the vertical coordinates and time.

As UGRID and SGRID have a fair bit in common, it became untenable to try to maintain gridd

[2017-11-27 13:54] ayan-usgs commented on #106
I'm open to decommissioning pysgrid in preference for gridded. I haven't had much time to maintain pysgrid, so I think moving to gridded will ensure that the functionality is maintained in the future.

That said, I welcome others to chime in if they feel so moved.

[2017-11-27 18:02] ChrisBarker-NOAA commented on #106
Thanks @ayan-usgs: Do you want commit privileges on gridded?

or anyone else...

-CHB

[2017-11-28 21:19] ayan-usgs commented on #106
@ChrisBarker-NOAA -- That'd be awesome.

[2017-11-28 22:03] ChrisBarker-NOAA commented on #106
should be done.